//
// NAVIGATION
// used to style to main nav bar and other sub navigation elements. 
// --------------------------------------------------

// Main Navbar
//---------------------------------------------------
.top-bar {
	background: inherit;
}

.o {
	color: $orange;
}

.o a:hover {
		color: $white !important;
	}



